nav {
  background-color: #8f78ff;
  /* background-image: url("path/to/your/image.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px rgb(214, 9, 9);
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #702f9b;
}

button a {
  color: rgb(184, 140, 81);
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #f4eafd;
}

.New {
  /* border: 1px solid gold;
  margin: auto;
  width: 95%; */
}

.New form {
  margin: auto;
  width: 95%
}
