nav {
  background-color: #8f78ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px rgb(124, 97, 136);
  margin-bottom: 1em;
}
body {
  background-color: whitesmoke;

}
main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: double;
  color: #7225a6;
  font-family: serif;
  
}

button a {
  color: rgb(7, 6, 4);
}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  text-decoration: double;
  font-style: oblique;
  text-align: center;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #f4eafd;
}

.New {
  
  background-color: rgb(241, 237, 237);
  border-radius: 7px;
  margin: auto;
  width: 70%;
  padding: 20px;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="number"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  background-color: rgb(229, 229, 239);
  border-radius: 3px;
  width: 30%;
}

.New form {
  margin: auto;
  width: 95%
  
}

.hat-image img {
  padding-bottom: 10px;
  width: 120px;
  height: 120px;
  opacity: 0.8;
  box-shadow: 10px 5px 5px grey;
}

.map-image {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 20px 15px 5px;
}

th.message {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #c3c2f7;
  box-shadow: 10px 5px 5px grey;
  padding: 10px 20px 15px 5px;
}

.big-hat img{
  width: 250px;
  height: 250px;
}

.big-hat h4{
  text-align: center;
  margin-left: 399px;
}
.welcome {
  font-family: Haettenschweiler;
  font-size: 50px;
  padding: 20px;
  margin: 20px;
  background-color: #549fcd;
  box-shadow: 0 2px 4x rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}